h1, h2 {
  color: white;
}

body {
  background-color: gray;
  text-align: center;
  margin-top: 70px;
  font-family: "Arial", sans-serif;
}

.toggle {
  margin-left: 20px;
  margin-:left: 20px;

.panel {
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 5px solid white;
  cursor: pointer;
}

.panel:hover {
  border: 7px solid yellow;
}

.top-left-panel {
  border-top-left-radius: 100px;
  background-color: red;
}  

.top-right-panel {
  border-top-right-radius: 100px;
  background-color: orange; 
}  

.bottom-left-panel {
  border-bottom-left-radius: 100px;
  background-color: green;
}  

.bottom-right-panel {
  border-bottom-right-radius: 100px;
  background-color: purple;
}  

.active {
  background-color: cyan;
}

.center {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 350px;
  border: 5px solid white;
  border-radius: 100%;
  background-color: black;
  top: 330px;
  left: 470px;
  font-size: 1.5em;
 }  

.center:hover {
  border: 7px solid yellow;
}
  
#switches {
  position: absolute;
  font-family: "Arial", sans-serif;
  margin-left: 26px;
  margin-top: 110px;
 }
  
 .text2 {
  position: absolute;
  font-family: 'Original Surfer', cursive;
  margin-left: 83px;
  margin-top: 197px;
  color: white; 
}

.text1 {
  position: absolute;
  font-family: 'Original Surfer', cursive;
  margin-left: 19px;
  margin-top: 142px;
  color: white;
}

#title {
  font-family: 'Original Surfer', cursive;
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
  color: white;
}
 
