@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1,h2,h3, p {
  color: white;
} 

p {
  font-family: 'Arial', sans-serif;
}  

body {
  background: radial-gradient(#090979, #00d4ff);
  text-align: center;
  margin-top: 70px;
  font-family: "Fredoka One", cursive;
}

.game-play {
  text-align: left;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}  

.toggle {
  margin-left: 20px;
  margin-right: 20px;
}

.button {
  border-radius: 50% !important;
  font-size: 1.5em;
  background-color: lightgray;
}

#switches {
  position: absolute;
  margin-left: 26px;
  margin-top: 110px;
}

.text2 {
  position: absolute;
  margin-left: 107px;
  margin-top: 210px;
}

.text1 {
  position: absolute;
  margin-left: 19px;
  margin-top: 141px;
}

.text1 span:last-child {
  padding-left: 70px;
}

#game {
  position: absolute;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 40px;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 20px;
  height: 30px;
  width: 50px;
  margin-left: 107px;
  margin-top: 190px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.panel {
  width: 300px;
  height: 300px;
  display: inline-block;
  cursor: pointer;
}

.topleft-panel {
  border-radius: 50px 0;
  background-color: red;
  border: 5px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.topright-panel {
  border-radius: 0 50px;
  background-color: orange;
  border: 5px solid white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}  
  
 .bottomleft-panel {
   border-radius: 0 50px;
   background-color: green;
   border: 5px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.bottomright-panel { 
   border-radius: 50px 0;
   background-color: purple;
   border: 5px solid white;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.panel:hover {
  border: 7px solid yellow;
}  

.center {
   display: inline-block;
   position: absolute;
   width: 300px;
   height: 300px;
   border-radius: 100%;
   background-color: gray;
   border: 5px solid white;
   top: 550px;
   left: 550px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   cursor: pointer;
}

.center:hover {
   border: 7px solid yellow;
}
  

  




 











.overlay-text {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   justify-content: center;
   align-items: center;
   z-index: 100;
   color: white;
   cursor: pointer;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    



 
