h1, h2 {
  color: white;
}

body {
  background-color: black;
  text-align: center;
  margin-top: 70px;
  font-family: Arial, sans-serif;
}

.button {
  width: 300px;
  height: 300px;
  display: inline-block;
  border: 5px solid white;
}

.top-left-button {
  border-top-left-radius: 100px;
  background-color: red;
}  

.top-right-button {
  border-top-right-radius: 100px;
  background-color: orange; 
}  

.bottom-left-button {
  border-bottom-left-radius: 100px;
  background-color: green;
}  

.bottom-right-button {
  border-bottom-right-radius: 100px;
  background-color: blue;
}  

.panel {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 5px solid white;
  border-radius: 100%;
  background-color: black;
  top: 370px;
  left: 500px;
}  
